@model Product

<div>
    <label>ID</label>
    <label>@Model.Id</label>
</div>
<div>
    <label>Name</label>
    <label>@Model.Name</label>
</div>
<div>
    <label>Price</label>
    <label>@Model.Price</label>
</div>

<hr />

<a href="/products" class="btn btn-outline-primary">Back to list</a>
<a href="@("/products/edit/"+Model.Id)" class="btn btn-primary">Edit</a>