@model Product
@{
    ViewData["hideMenu"] = true;
}

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="number" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>

    <div asp-validation-summary="ModelOnly">
        <h5>Errors:</h5>
    </div>

    <hr />

    <a asp-controller="Products" asp-action="Index" class="btn btn-outline-primary">Back to list</a>

    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/bob.css" />
}